/* Main layout */

body, html {
    --divider-color: #555;
    --bar-color: #222;
    --panel-color: #1a1a1a;
    background-color: #111;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
}

#main-container {
    display: grid;
    grid-template-rows: 42px calc(100dvh - 84px) 42px;
    grid-template-columns: 2fr auto;
    gap: 0px;
    padding: 0px;
    height: 100dvh;
    width: 100vw;
    margin: 0;
}

#top-panel {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bar-color);
    padding: 8px;
    padding-inline: 10px;
    margin: 0;
    border-bottom: 1px solid var(--divider-color);
    border-radius: 0px;
    overflow-y: auto;
    width: auto;
}

#music-browser {
    background-color: transparent;
    padding: 16px;
    margin: 0;
    border-radius: 0px;
    overflow-y: auto;
    width: auto;
    min-width: fit-content;
    height: auto;
}

#playlist {
    display: grid;
    gap: 0px; 
    background-color: var(--panel-color);
    border-left: 1px solid var(--divider-color);
    padding: 16px;
    margin: 0px;
    width: 270px;
    grid-template-rows: auto 1fr auto;
}
#playlist.hidden { display: none; }

#player-panel {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bar-color);
    padding: 8px;
    padding-inline: 16px;
    margin: 0;
    border-top: 1px solid var(--divider-color);
    border-radius: 0px;
    overflow-y: hidden;
    align-content: stretch;        
    justify-content: stretch;
}

#browser-description {
    margin-bottom: 10px;
}

#sidebar-cover {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    border: 1px solid #333;
    border-radius: 2px;
    width: calc(100% - 1px);  
    height: auto; 
}

#sidebar-cover.hidden {
    display: none;
}

#sidebar-cover img {
    display: block;
    width: 100%; 
    height: auto; 
    object-fit: contain;
    border-radius: 2px;
}

/* -------------- Search Bar -------------- */

#search-panel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#search-bar {
    display: flex;
    gap: 0px;
    border: none;
    background: none;
    padding: 0px;
}

#search-bar input {
    color: #fff;
    background-color: #171717;
    border: 1px solid #555;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    padding: 8px;
    outline: none;
    width: 100%;
}

#search-bar button {
    background:#333;
    border: 1px solid #555;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: auto;
    width: 36px;
    height: 36px;
}

#search-results {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 16px;
    color: #777;
    background: none;
    padding: 0px;
    overflow-y: auto;
    margin-bottom: 4px;
}

.search-result {
    position: relative; 
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid #555;
    font-size: 13px;
    padding: 10px;
    padding-inline: 2px;
    margin: 0px;
}

.search-result:hover {
    background: rgba(255, 255, 255, 0.05);
}

.search-result div {
    text-align: left;
    padding: 0px;
    margin-inline: 4px;
    color: #ccc;
}

.search-result .cover {
    width: 48px;
    height: auto;
    object-fit: contain;
    border-radius: 2px;
    margin-left: 4px;
    padding: 0;
}

.search-result .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.2;
}

.search-result .title {
    font-size: 0.9rem;
    margin: 0;
}

.search-result .artist {
    font-size: 0.75rem;
    opacity: 0.85;
    margin: 0;
}

.search-result .album {
    font-size: 0.75rem;
    opacity: 0.58;
    margin: 0;
    font-weight: 200;
}

.search-result .duration {
    font-size: 0.85rem;
    opacity: 0.9;
    margin-right: 5px;
}

.search-result .button-row {
    position: absolute;
    bottom: 6px;
    right: 0px;
    display: flex;
    gap: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.search-result:hover .button-row {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.mini-btn {
    background: transparent;
    border: none;
    color: #ccc;
    padding: 4px 4px;
    border-radius: 4px;
    margin: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
}

.mini-btn:hover {
    background: transparent;
}

.mini-btn svg {
    width:16px;
    height:16px;
    stroke-width: 1.5;
}

.search-result.playing {
    color: #fff;              
    font-weight: 600;         
    background: #272727;
}


/* ---------- SCROLLBAR ----------- */

body * {
    scrollbar-width: thin;
    scrollbar-color: #555 #111;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #111;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
    border: 2px solid #111;
    transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: #777;
}

*::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}


/* ---------------- Buttons and controls ---------------- */
button {
    background-color: #444;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    margin: 0;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
}

#top-panel button {
    padding: 0px;
    padding-inline: 2px;
    background-color: transparent;
}

button:hover svg {
    color: #fff;
    stroke-width: 2px;
}

svg {
    color: #999;
    width: 18px;
    stroke-width: 2px;
}

.active svg {
    color: #fff;
}


#player-panel button {
    padding: 0px;
    padding-inline: 2px;
    background-color: transparent;
}

#player-panel button:hover svg {
    color: #fff;
}

#play-pause-btn {
    padding: 0px;
    width: 25px;
    height: 25px;
}

#play-pause-btn:hover {
    color: #fff;
}

#play-pause-btn svg{
    width: 100%;
    height: 100%;
    stroke-width: 1.4px;
    margin: 0px;
}


/* ---------------- Playlist Items --------------- */
#playlist-title {
    height: fit-content;
    grid-row: 1;
    margin-bottom: 8px;
}

#playlist-item-container {
    display: block;
    flex-direction: column;
    align-items: stretch;
    padding-block: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    min-height: 0;
    overflow-y: auto;
    scrollbar-width: none;   
    -ms-overflow-style: none; 
}

#playlist-item-container::-webkit-scrollbar {
    display: none;  
}

.playlist-item {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    align-items: center;
    gap: 10px;
    padding: 6px 8px;
    border-bottom: 1px solid #333;
    color: #eee;
    font-family: sans-serif;
}

.playlist-item .cover {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 2px;
    padding: 0;
}

.playlist-item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.2;
}

.playlist-item .title {
    font-size: 0.9rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    min-width: 0;
}

.playlist-item .artist {
    font-size: 0.75rem;
    opacity: 0.7;
    margin: 0;
}

.playlist-item .duration {
    font-size: 0.8rem;
    opacity: 0.8;
}

.playlist-item.playing {
    color: #fff;              
    font-weight: 600;         
    /*background: #272727;*/
}

.playback-indicator {
    display: none;
    height: 10px;
    padding: 0px;
    margin: 0px;
}

.playlist-item.playing .playback-indicator {
    display: inline-block;
}

.title svg {
    color:#fff;
    padding: 0px;
    margin: 0px;
}

/* ------------------ Playback Control Bar ------------------ */
#progress-container {
    position: relative;
    width: 100%;
    height: 3px;
    background: #555;
    border-radius: 2px;
    cursor: pointer;
    flex-grow: 1;
    padding: 0px;
    margin: 0 0px 0 12px;
}

#progress-bar {
    height: 100%;
    width: 100%;
    background: #999;
    border-radius: 2px;
}

#progress-time {
    font-size: 12px;
    color: #ccc;
    min-width: 80px;
    text-align: center;
    margin-left: 0px;
}

#volume-container {
    position: relative;
    width: 100%;
    max-width: 100px;
    height: 3px;
    background: #555;
    border-radius: 2px;
    cursor: pointer;
    flex-grow: 1;
    padding: 0px;
    margin: 0 0px 0 0px;
}

#volume-bar {
    height: 100%;
    width: 50%;
    background: #999;
    border-radius: 2px;
}

.hidden {
    display: none;
}
